@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    font-size: 62.5%; 
    --font-default: 'Montserrat';
    --font-heading: 'Poppins';
    --color-default: #FFF;
    --color-secundary: #000;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-default);
}

.hamburguer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2.4rem;
    width: 2.4rem;
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 11;
    cursor: pointer;
}

.linha{
    height: .5rem;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 2px #000;
}

.menu{
    height: 100vh;
    width: 20rem;
    position: fixed;
    right: -20rem;
    background-color: white;
    z-index: 9;
    transition:right 1s;
    font-size:1.8rem;
}

.menu a{
    text-decoration: none;
    color: var(--color-secundary);
}
.menu a:hover{
    color: #6A3093;
}

.menu ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    gap: 1.6rem
}

.menu li{
    list-style: none;
}



.show-menu{
    right:0;
}

header{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    height: 100vh;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    color:#FFFFFF;
    padding: 21rem 11rem;
}

h1{
    font-family: 'poppins';
    font-weight: 900;
    font-size: clamp(3rem, 5vw, 6rem); /*5% da altura da tela, sendo 3rem o min e 6rem o max*/
    margin-bottom: 1rem;
}

h2{
    font-size: 4.4rem;
}

p{
    font-size: 3rem;
}

span{
    font-family: 'montserrat';
    font-size: 4.5rem;
    
}

.botao{
    padding: 1.4rem 11rem;
    background: linear-gradient(90deg, #6A3093 0%, #A044FF 100%);
    border-radius: 10px;
    font-size: 3rem;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

section {
    display: flex;
    gap: 2rem;
    padding: 8.6rem;
}

.avatar {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: zoom 5s ease-in-out;
}

@keyframes zoom{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

#texto-apresentacao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

#secao-projetos{
    background-color: #212121;
    color:var(--color-default);
}
#secao-projetos ul{
    display: flex;
    justify-content: space-around;
    list-style: none;

}
#secao-projetos li{
    list-style: none;
    position: relative;
    cursor: pointer;
}

#secao-projetos h3{
    font-size: 3rem;
    color:orange;
}

.card-image img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}

.card-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s, bottom .5s;
    padding: 2rem;
    gap: 1rem;
}

.card-info h4{
    color: #c36eff;
}

.card{
    position: relative;
    cursor:pointer;
}
.card:hover .card-image{
    opacity: .2;
}

.card:hover .card-info{
    opacity: 1;
    top: 150px;
    color:var(--font-default);
    z-index: 10;
}

#secao-orcamento{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212121;
}

#secao-orcamento form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    row-gap: 1rem;
    padding: 4rem 2rem;
    background-color: #FFF;
    border-radius: 10px;
    position: relative;
    font-size: 1.6rem;
}

#secao-orcamento output{
    grid-column: 2;
}

#secao-orcamento h3{
    position: absolute;
    top: -10%;
    left: 1rem;
    background-color: #6A3093;
    color: #FFF;
    padding: .7rem;
    border-radius: 5px;
}

input[type=number]{
    padding: .5rem;
    background-color: #949494;
    color: var(--color-default);
    border: none;
    border-radius: .3rem;
}

@media (max-width: 1200px){
    #secao-projetos ul{
        flex-direction:column
    }

}
@media (max-width: 800px){
    .large-only{
        display:none;
    }

}
